<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/ce3ade3fbd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	
    <link rel="stylesheet" href="styles/styles.css">

</head>

<body>

	<header>
		<h2><a href="/">Feature Guide</a></h2>
		<nav>
			<li><a href="/#what">About</a></li>
			<li><a href="/emoji">Fast Start</a></li>
			<li><a href="/#titles">Titles</a></li>
            <li><a href="/htmlhistory">HTML History</a></li>
			<li><a href="/csshistory">CSS History</a></li>
		</nav>
	</header>


	<section class="hero">
        <div class="background-image" style="background-image: url(images/light_wood.jpg); position: fixed;"></div>
        <div class="css-h">
            <h3 class="title" style="color: #1b1b1b;">A bit of HTML History</h3>
            <p>The history of hypertext markup language is a strange and interesting tale. From its simple start as an online subset of SGML through political maneuverings of the huge browser companies to its current piecemeal – but growing – compatibility, the language has weathered a storm of growth, abuse, and innovation. 
				Recently, the battle for control of the standard has focused on functionality. Microsoft and Netscape are both touting W3C compliance as a crucial marketing advantage. And the work being done on the latest HTML draft shows there may be light at the end of the tunnel.
				But it wasn't always this rosy.
				<br><br>
				The idea behind HTML was a modest one. When Tim Berners-Lee was putting together his first elementary browsing and authoring system for the Web,
				 he created a quick little hypertext language that would serve his purposes. He imagined dozens, or even hundreds, of hypertext formats in the future,
				  and smart clients that could easily negotiate and translate documents from servers across the Net. Read more <a href="https://www.wired.com/1997/04/a-brief-history-of-html/">here</a>.</p>
        </div>
        <div class="arrow"><a href="#what-html"><i class="fas fa-arrow-down"></i></a></div>
	</section>

    <section class="our-work" id="what-html" style="background-color: transparent;">
        
		<h3 class="title" style="color: white; font-size: 25px; ">More HTML topics to choose from: </h3>
		<div class="width-wrapper">
			<a href="/emoji" class="box-button">
				<p style="font-size: 70px">&#128540;</p>
				<h3>Emoji</h3>
			</a>
			<a href="/fontawesome" class="box-button">
				<p style="font-size: 70px">🖋</p>
				<h3>Font Awesome</h3>
			</a>
			<a href="/codetag" class="box-button">
				<p style="font-size: 70px">💬</p>
				<h3> Code Tag</h3>
			</a>
		</div>

	</section>
	
	<footer>
		<ul>
			<li><a href="https://www.facebook.com/anna.botsula/"><i class="fa fa-facebook-square"></i></a></li>
			<li><a href="https://github.com/botsula"><i class="fa fa-github-square"></i></a></li>
		</ul>
		<p>Made by Anna Botsula for html+css course in university, 2020</p>
	</footer>
</body>

</html>
