<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page Template With Flexbox</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="styles/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>

<body>

	<header>
		<h2><a href="/">Feature Guide</a></h2>
		<nav>
			<li><a href="/">Home</a></li>
			<li><a href="/#titles">Titles</a></li>
			<li><a href="/#what">About</a></li>
			<li><a href="/htmlhistory">HTML History</a></li>
			<li><a href="/csshistory">CSS History</a></li>
		</nav>
	</header>




	<section class="our-work">
		<div class="width-wrapper" style="max-width: 1500px">
			<div class="left-bar">
				<ul>
					<li><a  href="/emoji">Emoji</a></li>
					<li><a href="/becontainer">Beautiful Container</a></li>
					<li><a href="/fontawesome">Font Awesome</a></li>
					<li><a href="/flexbox">Flex Box</a></li>
                    <li><a href="/cursor">Cursor</a></li>
					<li><a class="active" href="/codetag">Code Tag</a></li>
					<li><a href="/fancylist">Fancy List</a></li>
				</ul>
			</div>
			<div class="inner-block">
                <h3 class="title">💬 Codetag</h3>
				<p>If you already went through this guide than you should notice a lot of <b class="important">code parts</b>. So how to create them?</p>
				
				<p style="margin-top: 20px;">The next code boxes will represent how to create the part of one from <a href="/flexbox">Flexbox</a></p>
				<pre>
					<code class="bash">
					    <code class="css"> 
										<span style="color: chartreuse;">html</span>

					&lt;span style="color: chartreuse;"&gt;html&lt;/span&gt; 	
	&lt;pre&gt;
		&lt;code class="bash"&gt;
		&lt;code class="css"&gt;
			&lt;span style="color: chartreuse;"&gt;css&lt;/span&gt;
			&lt;span class="bash-keyword"&gt;.container&lt;/span&gt; {
			&lt;span class="bash-keyword"&gt;display&lt;/span&gt;
			}
		&lt;/code&gt;
		&lt;/code&gt;
	&lt;/pre&gt;
	
						</code>
					</code>
				</pre>

				<p>Now the css part:</p>

				<pre>
					<code class="bash">
					    <code class="css"> 
										<span style="color: chartreuse;">css</span>
	
	<span class="bash-keyword">code.css</span>{
		color: rgb(254, 255, 93);
		opacity: 0.9;
		padding: 0 0;
		font-size: 10pxs;
		line-height: 20px;
	}

	<span class="bash-keyword">.bash</span>{
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		display: block;
		border: none;
		background: black;
		border-radius: 5px;
		border-style: solid;
		border-color: #448253;
		line-height: 5px;
		padding: 5px;
	}

	<span class="bash-keyword">.inner-block span.bash-keyword</span>{
		color: rgb(101, 255, 204);
		display: inline;
	}
					
						</code>
					</code>
				</pre>

				<p>So now you can create this beauties!</p>

			</div>
		</div>
	</section>

	<footer>
		<ul>
			<li><a href="https://www.facebook.com/anna.botsula/"><i class="fa fa-facebook-square"></i></a></li>
			<li><a href="https://github.com/botsula"><i class="fa fa-github-square"></i></a></li>
		</ul>
		<p>Made by Anna Botsula for html+css course in university, 2020</p>
	</footer>

</body>

</html>
