<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page Template With Flexbox</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="styles/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">


</head>

<body>

	<header>
		<h2><a href="/">Feature Guide</a></h2>
		<nav>
			<li><a href="/">Home</a></li>
			<li><a href="/#titles">Titles</a></li>
			<li><a href="/#what">About</a></li>
			<li><a href="/htmlhistory">HTML History</a></li>
			<li><a href="/csshistory">CSS History</a></li>
		</nav>
	</header>




	<section class="our-work">
		<div class="width-wrapper" style="max-width: 1500px">
			<div class="left-bar">
				<ul>
					<li><a  href="/emoji">Emoji</a></li>
					<li><a href="/becontainer">Beautiful Container</a></li>
					<li><a href="/fontawesome">Font Awesome</a></li>
					<li><a href="/flexbox">Flex Box</a></li>
					<li><a class="active" href="/cursor">Cursor</a></li>
					<li><a href="/codetag">Code Tag</a></li>
					<li><a href="/fancylist">Fancy List</a></li>
				</ul>
			</div>
			<div class="inner-block">
				<h3 class="title">👆 Cursor</h3>
				<p>Cursor is a very important UX feature, because it helps to explain more acurately what is going on for user.
					<br>So to change visual image all you need is just to play with it`s style.
				</p>
				<pre>
					<code class="bash">
					    <code class="css">
                                                                        <span style="color: chartreuse;">css</span>
	.auto            <span class="bash-keyword" style="cursor: auto;">{ cursor: auto; }</span>
	.default         <span class="bash-keyword" style="cursor: default;">{ cursor: default; }</span>
	.none            <span class="bash-keyword" style="cursor: none;">{ cursor: none; }</span>
	.context-menu    <span class="bash-keyword" style="cursor: context-menu;">{ cursor: context-menu; }</span>
	.help            <span class="bash-keyword" style="cursor: help;">{ cursor: help; }</span>
	.pointer         <span class="bash-keyword" style="cursor: pointer;">{ cursor: pointer; }</span>
	.progress        <span class="bash-keyword" style="cursor: progress;">{ cursor: progress; }</span>
	.wait            <span class="bash-keyword" style="cursor: wait;">{ cursor: wait; }</span>
	.cell            <span class="bash-keyword" style="cursor: cell;">{ cursor: cell; }</span>
	.crosshair       <span class="bash-keyword" style="cursor: crosshair;">{ cursor: crosshair; }</span>
	.text            <span class="bash-keyword" style="cursor: text;">{ cursor: text; }</span>
	.vertical-text   <span class="bash-keyword" style="cursor: vertical-text;">{ cursor: vertical-text; }</span>
	.alias           <span class="bash-keyword" style="cursor: alias;">{ cursor: alias; }</span>
	.copy            <span class="bash-keyword" style="cursor: copy;">{ cursor: copy; }</span>
	.move            <span class="bash-keyword" style="cursor: move;">{ cursor: move; }</span>
	.no-drop         <span class="bash-keyword" style="cursor: no-drop;">{ cursor: no-drop; }</span>
	.not-allowed     <span class="bash-keyword" style="cursor: not-allowed;">{ cursor: not-allowed; }</span>
	.all-scroll      <span class="bash-keyword" style="cursor: all-scroll;">{ cursor: all-scroll; }</span>
	.col-resize      <span class="bash-keyword" style="cursor: col-resize;">{ cursor: col-resize; }</span>
	.row-resize      <span class="bash-keyword" style="cursor: row-resizeuto;">{ cursor: row-resize; }</span>
	.n-resize        <span class="bash-keyword" style="cursor: n-resize;">{ cursor: n-resize; }</span>
	.e-resize        <span class="bash-keyword" style="cursor: e-resize;">{ cursor: e-resize; }</span>
                        </code>
                    </code>
				</pre>

				<p>To read more about <b class="important">cursor</b> just go <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/cursor">here</a>.</p>
			</div>
		</div>
	</section>

	<footer>
		<ul>
			<li><a href="https://www.facebook.com/anna.botsula/"><i class="fa fa-facebook-square"></i></a></li>
			<li><a href="https://github.com/botsula"><i class="fa fa-github-square"></i></a></li>
		</ul>
		<p>Made by Anna Botsula for html+css course in university, 2020</p>
	</footer>

</body>

</html>
