<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page Template With Flexbox</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="styles/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/ce3ade3fbd.js" crossorigin="anonymous"></script>

</head>

<body>

	<header>
		<h2><a href="/">Feature Guide</a></h2>
		<nav>
			<li><a href="/">Home</a></li>
			<li><a href="/#titles">Titles</a></li>
			<li><a href="/#what">About</a></li>
			<li><a href="/htmlhistory">HTML History</a></li>
			<li><a href="/csshistory">CSS History</a></li>
		</nav>
	</header>




	<section class="our-work">
		<div class="width-wrapper" style="max-width: 1500px">
			<div class="left-bar">
				<ul>
					<li><a  href="/emoji">Emoji</a></li>
					<li><a  href="/becontainer">Beautiful Container</a></li>
					<li><a class="active" href="/fontawesome">Font Awesome</a></li>
					<li><a href="/flexbox">Flex Box</a></li>
					<li><a href="/cursor">Cursor</a></li>
					<li><a href="/codetag">Code Tag</a></li>
					<li><a href="/fancylist">Fancy List</a></li>
				</ul>
			</div>
			<div class="inner-block">
				<h3 class="title">🖋 Font Awesome</h3>
				<p>What is <a href="https://fontawesome.com/">Font Awesome</a> and why you need to know how to use it?</p>
				<p style="margin-top: 20px;">It is just an awesome tool for little icons if you want to make your life easier. You can place Font Awesome icons just about anywhere using a style prefix and the icon’s name. We’ve tried to make it so that icons take on the characteristics and appear alongside text naturally.</p>
				<p style="margin-top: 20px;">To reference an icon, you need to know two bits of information. <b style="color: rgb(254, 255, 93);">1) its name, prefixed with fa- (meaning “font awesome” naturally!)</b> and <b style="color: rgb(254, 255, 93);"> 2) the style you want to use’s corresponding prefix</b>.</p>
				
				<pre>
					<code class="bash">
					    <code class="css">
                                                                        <span style="color: chartreuse;">html</span>
  &lt;i class=<span class="bash-keyword">"fas fa-arrow-down"</span>&gt;&lt;/i&gt;
  &lt;i class=<span class="bash-keyword">"fab fa-angellist"</span>&gt;&lt;/i&gt;
  &lt;i class=<span class="bash-keyword">"fas fa-battery-half"</span>&gt;&lt;/i&gt;
  &lt;i class=<span class="bash-keyword">"fas fa-basketball-ball"</span>&gt;&lt;/i&gt;

                        </code>
                    </code>
				</pre>

				<p> Will produce: </p>

				<p style="margin: 50px; text-align: center;">
					<i class="fas fa-arrow-down"></i>
					<i class="fab fa-angellist"></i>
					<i class="fas fa-battery-half"></i>
					<i class="fas fa-basketball-ball"></i>
				</p>

				<p><b style="color: rgb(226, 31, 70);">Attention!</b> Before using it you need to sign in and <a href="https://fontawesome.com/start">get special key</a> at the original page. And this <b>key</b> has to be linked to your project as a stylesheet (read more: <a href="https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use#additional-styling-options">Additional Styling Options</a>)</p>

			</div>
		</div>
	</section>

	<footer>
		<ul>
			<li><a href="https://www.facebook.com/anna.botsula/"><i class="fa fa-facebook-square"></i></a></li>
			<li><a href="https://github.com/botsula"><i class="fa fa-github-square"></i></a></li>
		</ul>
		<p>Made by Anna Botsula for html+css course in university, 2020</p>
	</footer>

</body>

</html>
